[Desktop Entry]
Encoding=UTF-8
Name=PinkBitz
Comment=PinkBitz P2P Cryptocurrency
Comment[fr]=PinkBitz, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PinkBitz, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/PinkBitz-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/PinkBitz;
Categories=Office;
